<div class="container mt-5">
    <div *ngIf="!registerMode">
    <h1></h1>
    <p class></p>
    <div>
    <button (click)="registerToggle()" class="btn btn-primary btn-lg mr-2">Register</button>
</div>
    </div>
</div>

<div *ngIf="registerMode" class="container">
    <div class="row justiy-content-center offset-5">
        <div class="col-4">
            <app-register (cancelRegister)="cancelRegisterMode($event)"></app-register>
        </div>
    </div>
</div>
<button (click)="openOffers()" class="btn btn-primary btn-lg mt-5">Open offers</button>
<div class="container" *ngIf="!registerMode">
    <div class="card m-5 p-3">
        <div class="card-body">
            <table class="table table-bordered table-striped table-hover">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>From</th>
                    <th>To</th>
                    <th>Distance</th>
                    <th>Price distance</th>
                    <th>Living Area</th>
                    <th>Attic Area</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let offer of offers">
                    <td>{{offer.id}}</td>
                    <td>{{offer.from}}</td>
                    <td>{{offer.to}}</td>
                    <td>{{offer.distance}}</td>
                    <td>{{offer.priceDistance}}</td>
                    <td>{{offer.livingArea}}</td>
                    <td>{{offer.atticArea}}</td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>
