<p>offer-detail works!</p>
<div class="container">
<div class="row">
<p>Number of offer: {{numberOfOffer}}</p>
<p>FullName: </p>
<p>UserName: </p>
<p>From: {{from}}</p>
<p>To: {{to}}</p>
<p>Distance: {{distance}}</p>
<p>Living Area: {{livingArea}}</p>
<p>Attic Area: {{atticArea}}</p>
<P>Estimated price: {{estimatedPrice}} including vat</P>
<p>We save your price proposal 90 days</p>
<p>To see your price proposal again visit: https://move.it/offert/</p>
<p>If you have questions contact flytt@moveit.se</p>
</div>
</div>